---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <!-- <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }} -->

  
    <main>
      {{ content }}
      
      {% if page.paperurl %}
        <p><a href="{{ page.paperurl }}" class="btn btn-download">Download Paper</a></p>
      {% endif %}
    </main>


    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}

  </body>
</html>
